#!/usr/bin/env bash

CONTAINER_NAME="datadog"

docker rm $CONTAINER_NAME || true

docker run --rm --name $CONTAINER_NAME \
      -p 8125:8125/udp \
      -p 8126:8126 \
      -p 10518:10518 \
      -v /var/run/docker.sock:/var/run/docker.sock:ro \
      -v /proc/:/host/proc/:ro \
      -v /sys/fs/cgroup/:/host/sys/fs/cgroup:ro \
      -v /opt/datadog-agent/run:/opt/datadog-agent/run:rw \
      -v /opt/datadog-agent/conf.d:/conf.d \
      -v /var/log:/host/var/log:ro \
      -v /log:/log \
      -e DD_LOG_LEVEL=${DD_LOG_LEVEL} \
      -e DD_LOGS_ENABLED=${DD_LOGS_ENABLED} \
      -e DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=${DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL} \
      -e DD_API_KEY=${DD_API_KEY} \
      -e DD_DOCKER_LABELS_AS_TAGS='{"technology":"technology","team":"team", "service": "service", "source": "source"}' \
      -e DD_HOSTNAME=${HOST_IP}-${DD_HOSTNAME} \
      -e DD_TAGS="${DATADOG_TAGS}" \
      -e DD_PROCESS_AGENT_ENABLED=true \
      -e DD_DOGSTATSD_NON_LOCAL_TRAFFIC=1 \
      --log-driver journald \
      ${DD_AGENT_IMAGE_NAME}:${DD_AGENT_IMAGE_VER} & > /dev/null 2>&1

