#!/usr/bin/env python

from base import BaseCheck


class Check(BaseCheck):

    def check(self, **kwargs):
        self.systemd_unit_is_running('kong.service')
        self.container_is_running('kong')

        kong_tcp_ports = [8000, 8001, 8443, 8444]
        self.ports_is_being_listened(kong_tcp_ports)